In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv('sushi_reviews.csv')
df.head()

,Name,Rating,Reviews,Price,Location,ReviewsData
0,Shikibu Restaurant,4.5,410,$$,"{'address1': '10834 Washington Blvd', 'address...",['Chef Thomas and Sophia are the absolute best...
1,Yama Sushi Sake Attitude,5.0,218,$$,"{'address1': '11709 National Blvd', 'address2'...","[""I'm a big fan of the SGV location and loved ..."
2,Uzumaki,4.5,672,$$,"{'address1': '11060 Washington Blvd', 'address...","[""A perfect find on a rainy night in Manhattan..."
3,Izakaya Osen - Los Angeles,4.5,1634,$$,"{'address1': '2903 Sunset Blvd', 'address2': '...",['The atmosphere is ok if you like eating outs...
4,K-ZO,4.0,924,$$$,"{'address1': '9240 Culver Blvd', 'address2': N...",['Contemporary sushi spot in the heart of down...

In [7]:
len(df['ReviewsData'][0])

484

In [6]:
len(df)

50