In [4]:
import pickle
import pandas as pd

# Load the KMeans model
with open('kmeans.pkl', 'rb') as file:
    kmeans = pickle.load(file)

df=pd.read_csv('sushi_to_search.csv')

In [5]:
rating = float(input("Enter the rating: "))
reviews = int(input("Enter the number of reviews: "))
price = input("Enter the Number of stars: ")

In [6]:
user_input = [[rating, reviews, price]]
user_cluster = kmeans.predict(user_input)

/Users/qefsquintillion/opt/anaconda3/envs/citation-analysis/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

In [7]:

# Get the indices of restaurants in the same cluster
cluster_indices = [index for index, cluster in enumerate(kmeans.labels_) if cluster == user_cluster]

# Filter the dataframe to get restaurants in the same cluster
similar_restaurants = df.iloc[cluster_indices]

# Sort the restaurants by a relevant metric (e.g., rating, reviews)
similar_restaurants = similar_restaurants.sort_values('Rating', ascending=False)

# Select the top 5 sushi restaurants
top_5_restaurants = similar_restaurants.head(5)
print("Top 5 sushi restaurants in the same cluster:")
print(top_5_restaurants)

Top 5 sushi restaurants in the same cluster:
     Unnamed: 0                     Name  Rating  Reviews  Price Street Name  \
737         737                Jimmysugi     5.0       10      0           E
980         980   Takeout Sushi and Roll     5.0       58      2           W
528         528                   Savida     5.0      120      0     Montana
668         668  Blue Fish Entertainment     5.0        1      0       Ocean
941         941      Sushi Enya Sawtelle     5.0        3      0           W

     Zip Code          City  Cluster
737     90012   Los Angeles        1
980     90020   Los Angeles        1
528     90403  Santa Monica        1
668     90401  Santa Monica        1
941     90064   Los Angeles        1